.content {
  transform: translateY(2rem);
  opacity: 0;
  transition: opacity 0.25s, transform 0.25s ease-in-out;
  overflow-y: hidden;
  scroll-behavior: none;
}

.fadeIn {
  opacity: 1;
  transform: translateY(0px);
  scroll-behavior: smooth;
}
